doctype html
html
    include includes/head
    body
        div.pure-g
            include includes/navigation
            div.pure-u-1-1
                h2 Your 12 word pass-phrase
                form(action="copy12Words")
                    fieldset
                        legend(style="color:red; font-style: italic;") Write these down on a dirty napkin, and guard it with your life.
                        textarea#seedWords(style="width:100%; border:1px black;")

                h2 Create your keystore
                form.pure-form-stacked(action="createKeystore")
                    fieldset
                        legend All that's required is a password.
                        input#txtPassword(type="password" placeholder="Password")
                        button.pure-button.pure-button-primary#submit(type="button") Create Keystore
        div.pure-g
            div.pure-u-1-1
                span#output
script(type="text/javascript" src="./js/create-keystore-dialog.js")
