doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Create a Keystore
        link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" crossorigin="anonymous")
    body
        div.pure-g
            div.pure-u-1-1
                div.pure-menu.pure-menu-horizontal
                    a.pure-menu-heading.pure-menu-link(href="index.pug") HOME
                    ul.pure-menu-list
                        li.pure-menu-item
                            a.pure-menu-link(href="#") inbox++
                        li.pure-menu-item
                            a.pure-menu-link(href="#") Inbox
                        li.pure-menu-item
                            a.pure-menu-link(href="#") Send Mail
            div.pure-u-1-1
                h2 Your 12 word pass-phrase
                form(action="copy12Words")
                    fieldset
                        legend(style="color:red; font-style: italic;") Write these down on a dirty napkin, and guard it with your life.
                        textarea#seedWords(style="width:100%; border:1px black;")

                h2 Create your keystore
                form.pure-form-stacked(action="createKeystore")
                    fieldset
                        legend All that's required is a password.
                        input#txtPassword(type="password" placeholder="Password")
                        button.pure-button.pure-button-primary#submit(type="button") Create Keystore
        div.pure-g
            div.pure-u-1-1
                span#output
script(type="text/javascript" src="./js/create-keystore-dialog.js")
