doctype html
html
    head
        meta(charset="UTF-8")
        title bip44 Mail Client
        link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" crossorigin="anonymous")
    body
        .pure-g
            .pure-u-1-1
                img(src="./img/Lemon.jpg" alt="bip44 Logo" style="width:50px; float: left; margin-right: 8px; padding-top:10px;")
                h1 bip44 mailer
            .pure-u-1-2
                button.pure-button.pure-button-primary#btnCreateKeystore(type="button") Create Keystore
            .pure-u-1-2
                button.pure-button.pure-button-primary#btnOpenKeystore(type="button") Open Keystore
    script(src="js/index.js")
