doctype html
include includes/head
body
    .pure-g
        include includes/navigation
        .pure-u-1-1
            h1 Open a Keystore
            form.pure-form-stacked(onsubmit="openKeystore(); return false;")
                legend Select a keystore to load.
                label(for="selected-file") Keystore File
                input#selected-file(style="width: 100%" disabled)
                button#btnOpenKeystore(type="submit").pure-button.button-secondary Browse...
    .pure-g
        .pure-u-1-1
            span#output
    script(type="text/javascript" src="./js/open-keystore-dialog.js")
