doctype html
html
    include includes/head
    body
        div.pure-g
            include includes/navigation
            div.pure-u-1-1
                h2 Send Mail
                form(onsubmit="sendMail(); return false;").pure-form.pure-form-stacked
                    fieldset
                        legend(style="color:red; font-style: italic;") Be careful! Anyone you send mail to could leak your email address.
                        label(for="from") From
                        img(src="./img/menu.png" style="width:25px" onclick='showMenu()')
                        ul#menu(style="display:none" onmouseout="hideMenu()")
                        input#from(disabled)
                        label(for="to") To
                        input#to
                        label(for="subject") Subject
                        input#subject
                        textarea#messageBody(style="width:100%; rows:15; border:1px black;")
                        input#password(type="password" placeholder="password")
                        button.pure-button.pure-button-primary#submit(type="submit") Send
    script(type="text/javascript" src="./js/send-mail.js")