div.pure-u-1-1
    div.pure-menu.pure-menu-horizontal
        a.pure-menu-heading.pure-menu-link(href="index.pug") HOME
        ul.pure-menu-list
            li.pure-menu-item
                a.pure-menu-link(href="#") inbox++
            li.pure-menu-item
                a.pure-menu-link(href="#") Inbox
            li.pure-menu-item
                a.pure-menu-link(href="#") Send Mail